<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('partials/head') %>

<body>
	<!-- Header -->
	
	<%- include('./partials/header') %>
	<!-- /Header -->
	
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
		
			<h2 class="col-12"> 
				<div class="formularios">
					<form action="/user/login" method="post">
					
					
					<div class="campos">
						<label for="">Email</label>

						<input id="email" name="email" type="email" placeholder="Usuario">
					</div>
					
					

					<div class="campos">
						<label for="">Contraseña</label>
						<input id="contraseña"  type="password" name="contra" placeholder="Contraseña">
					</div>

					
					
					<div class="campos">
						<label for="">Recordar usuario</label>
						<input type="checkbox" name="remember">
					</div>
					<button type="submit" class="buy-now-button">ENVIAR FORMULARIO</button>
					</form>
					<div>
					<% if (locals.errors) { %>
						<p style="color: rgb(69, 25, 25);"><%= locals.errors.message %> </p>
					<% } %> 
					</div>
				</div>
			</h2>
		</div>
	</div>
	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>