<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('partials/head') %>

<body>
	<!-- Header -->
	
	<%- include('./partials/header') %>
	<!-- /Header -->
	
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="/" method="get">
					
					<label for="">Usuario</label>

					<div>
						
						<input type="email" name="usuario" placeholder="Usuario">
					</div>
					
					<label for="">Contraseña</label>

					<div>
						
						<input type="text" name="contraseña" placeholder="Contraseña">
					</div>

					<label for="">Recordar usuario</label>
					
					<div>
						
						<input type="checkbox" name="Recordar usuario">
					</div>
					<div>
						<button type="submit">Enviar</button>
					</div>
				
				</form>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>