<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('partials/head') %>

<body>
	<!-- Header -->
	
	<%- include('./partials/header') %>
	<!-- /Header -->
	
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
		
			<h2 class="col-12"> 
				<div class="formularios">
					<form action="/" method="get">
					
					
					<div class="campos">
						<label for="">Usuario</label>

						<input type="text" name="usuario" placeholder="Usuario">
					</div>
					
					

					<div class="campos">
						<label for="">Contraseña</label>
						<input type="text" name="contraseña" placeholder="Contraseña">
					</div>

					
					
					<div class="campos">
						<label for="">Recordar usuario</label>
						<input type="checkbox" name="Recordar usuario">
					</div>
					<button type="submit" class="buy-now-button">ENVIAR FORMULARIO</button>
					</form>

					<% if(locals.erroresLogin){ %>
						<p class="mensajeError" style="color: whitesmoke;"> <%= erroresLogin.message %>
						</p>
					<% } %>
				</div>
			</h2>
		</div>
	</div>
	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>