<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>
	<!-- /Header -->
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form action="/" method="GET">
					<label for="imgProduct">Imagen de Producto:</label>
					<input type="file" name="imgProduct" id="imgProduct">
					<label for="nameProduct">Nombre de Producto:</label>
					<input type="text" name="nameProduct" id="nameProduct">
					<label for="description">Descripción:</label>
					<textarea name="description" id="description" cols="30" rows="10"></textarea>
					<label for="dateUpload">fecha de publicacion</label>
					<input type="date" name="dateUpload" id="dateUpload">
				</form>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>