<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="formis-title">
					Registrarse
				</h2>
				</div>
			</div>
			<div class="formulariosRegister">

				<form class="registerForm" action="/user/register" method="POST" enctype="multipart/form-data">

					<div class="campos">
						<label for="nameUsuario">Nombre de usuario:</label>
						<input type="text" name="nameUsuario" id="nameUsuario">
					</div>

					<div class="campos">
						<label for="contraseniaUsuario">Contraseña:</label>
						<input type="password" name="password" id="contraseniaUsuario">
					</div>
					
					<div class="campos">
						<label for="emailUsuario">Correo electrónico:</label>
						<input type="email" name="emailUsuario" id="emailUsuario">
					</div>
					
					<div class="campos">
						<label for="dni">Documento Nacional de Identificación:</label>
						<input type="number" name="dni" id="dni">
					</div>
					<div class="campos">
						<label for="dateUpload">Fecha de nacimiento:</label>
						<input type="date" name="dateUpload" id="dateUpload">
					</div>
					
					<div class="campos">
						<label for="imgPerfil">Foto de perfil:</label>
						<input type="file" name="imagenUsuario" id="imgPerfil">
					</div>

					<button type="submit" class="buy-now-button">ENVIAR FORMULARIO</button>

				</form>
			</div>
		</div>
	</div>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>